@tailwind base;
@tailwind components;
@tailwind utilities;

.label {
    @apply block uppercase tracking-wide text-xs font-bold mb-2 text-white;
}

.error-label {
    @apply block tracking-wide text-xs mb-2 text-red-400
}

.input {
    @apply px-3 py-2 bg-white rounded shadow;
}

.input:focus{
    outline: none;
    box-shadow: 0 0 3pt #42b983;
}

.btn-submit {
    @apply text-white font-bold py-2 px-4 rounded;
    background: #42b983;
}

.btn-submit:hover {
    background: #43c38c;
}

.btn-secondary {
    @apply text-white font-bold py-2 px-4 rounded;
}

.list-item {
    @apply text-lg px-4 py-3 bg-pink-400 rounded-lg mb-2
}